<div class="container mt-3">
    <h5 class="text-success">Create New Form</h5>
    <div class="row mb-3">
        <div class="col-lg-3">
            <a href="/create_form" class="text-decoration-none">
                <div class="card">
                    <div class="text-center text-success fs-1 p-5"><i class="fas fa-plus"></i></div>
                </div>
            </a>
        </div>
    </div>
    <h5 class="text-success mb-3">Recent Forms</h5>
    <div class="row">
    <% if @forms.any? %>
        <% @forms.each do |form| %>
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <div class="text-center text-success fs-1 p-5 bg-light"><i class="fas fa-list-ol"></i></div>
                    <div class="card-body">
                        <form action="/form/rename/<%= form["id"] %>" method="POST" class="rename_form" >
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <input type="hidden" name="_method" value="patch">
                            <h5 id="form_title_<%= form["id"] %>" class="card-title text-success"><%= form["title"] %></h5>
                        </form>
                        <p id="form_details_<%= form["id"] %>" class="card-text text-muted small">Opened last <%= form["updated_at"].strftime("%B %d, %Y | %I:%M %p") %></p>
                        <a href="#" class="card-text text-danger small text-decoration-none"><i class="far fa-trash-alt"></i> Remove</p></a>
                    </div>
                </div>
            </div>
        <% end %>
    <% else %>
        <h4 class="text-muted text-center">No Forms Created</h4>
    <% end %>
    </div>
</div>