<% @results_data.each do |result_data| %>
    <% if result_data[1]["type"] == 1 %>
        <div class="w-75 my-4 bg-light rounded p-3 mx-auto border border-success">
            <h2 class="text-success text-center"> <%= result_data[1]["content"] %> </h2>
            <%= pie_chart(result_data[1]["data"]) %>
        </div>
    <% elsif result_data[1]["type"] == 3 || result_data[1]["type"] == 4 %>
        <div class="w-75 my-4 bg-light rounded p-3 mx-auto border border-success">
            <h2 class="text-success text-center"> <%= result_data[1]["content"] %> </h2>
            <h5 class="text-success text-center"> Answers: </h5>
            <ol class="text-success w-25 mx-auto">
                <% result_data[1]["data"]["answers"].split(",").each do |answer| %>
                    <li> <%= answer %> </li>
                <% end %>
            </ol>
        </div>
    <% else %>
        <div class="w-75 my-4 bg-light rounded p-3 mx-auto border border-success">
            <h2 class="text-success text-center"> <%= result_data[1]["content"] %> </h2>
            <%= bar_chart(result_data[1]["data"]) %>
        </div>
    <% end %>
<% end %>
